body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #101010;
    color: #ffffff;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #9b59b6;
}
